<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">

    <!-- Define the test suites -->
    <testsuites>
        <testsuite name="UI Tests">
            <directory>tests/e2e</directory>
        </testsuite>
    </testsuites>

    <!-- Configure logging -->
    <logging>
        <junit outputFile="reports/test-results.xml"/>
    </logging>

    <!-- Add Allure extension -->
    <extensions>
        <bootstrap class="Qameta\Allure\PHPUnit\AllureExtension">
            <parameter name="config" value="tests/e2e/config/allure.config.php"/>
        </bootstrap>
    </extensions>

</phpunit>
